$richard-red-100: #E6CDCC;
$richard-red-200: #CD9A99;
$richard-red-300: #B56866;
$richard-red-400: #9C3533;
$richard-red-500: #830300;
$richard-red-600: #760300;
$richard-red-700: #5C0200;
$richard-red-800: #420200;
$richard-red-900: #270100;
$richard-red-1000: #0D0000;

$richard-blue-100: #CCD0e0;
$richard-blue-200: #99a1c0;
$richard-blue-300: #6672a1;
$richard-blue-400: #334381;
$richard-blue-500: #001462;
$richard-blue-600: #001258;
$richard-blue-700: #000E45;
$richard-blue-800: #000A31;
$richard-blue-900: #00061D;
$richard-blue-1000: #00020a;

$richard-yellow-100: #fbeed6;
$richard-yellow-200: #f7ddae;
$richard-yellow-300: #f4cb85;
$richard-yellow-400: #f0ba5d;
$richard-yellow-500: #eca934;
$richard-yellow-600: #d4982f;
$richard-yellow-700: #a57624;
$richard-yellow-800: #76551a;
$richard-yellow-900: #473310;
$richard-yellow-1000: #181105;

$richard-green-100: #ccded8;
$richard-green-200: #99beb1;
$richard-green-300: #669d8a;
$richard-green-400: #337d63;
$richard-green-500: #005c3c;
$richard-green-600: #005336;
$richard-green-700: #00402a;
$richard-green-800: #002e1e;
$richard-green-900: #001c12;
$richard-green-1000: #000906;

$richard-purple-100: #e3ccdd;
$richard-purple-200: #c799bb;
$richard-purple-300: #ac6798;
$richard-purple-400: #903476;
$richard-purple-500: #740154;
$richard-purple-600: #68014c;
$richard-purple-700: #51013b;
$richard-purple-800: #3a012a;
$richard-purple-900: #230019;
$richard-purple-1000: #0c0008;

$red: $richard-red-500;
$style-blue: $richard-blue-500;
$style-yellow: $richard-yellow-500;
$style-green: $richard-green-500;
$style-purple: $richard-purple-500;

// Dark theme
$dark-theme-red: #F08080;
$dark-theme-blue: #6495ED;
$dark-theme-yellow: #ECA934;
$dark-theme-green: #3CB371;
$dark-theme-purple: #BA55D3;